Values derived from URL info, updated in real time when a user takes an action (like moving from one page to another):

"Administrative", "Administrative Duration", "Informational", "Informational Duration", "Product Related" and "Product Related Duration" represent the number of different types of pages visited by the visitor in that session and total time spent in each of these page categories.

---

Metrics measured by Google Analytics:

"Bounce Rate" feature for a web page refers to the percentage of visitors who enter the site from that page and then leave ("bounce") without triggering any other requests to the analytics server during that session.

"Exit Rate" feature for a specific web page is calculated as for all pageviews to the page, the percentage that were the last in the session.

"Page Value" feature represents the average value for a web page that a user visited before completing an e-commerce transaction.

---

"Special Day" feature indicates the closeness of the site visiting time to a specific special day (e.g. Mother’s Day, Valentine's Day) in which the sessions are more likely to be finalized with transaction. The value of this attribute is determined by considering the dynamics of e-commerce such as the duration between the order date and delivery date. For example, for Valentina’s day, this value takes a nonzero value between February 2 and February 12, zero before and after this date unless it is close to another special day, and its maximum value of 1 on February 8.

In [1]:
import pandas as pd

df = pd.read_csv('online_shoppers_intention.csv')

In [2]:
df

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [4]:
df.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000
mean,2.315166,80.818611,0.503569,34.472398,31.731468,1194.746220,0.022191,0.043073,5.889258,0.061427,2.124006,2.357097,3.147364,4.069586
std,3.321784,176.779107,1.270156,140.749294,44.475503,1913.669288,0.048488,0.048597,18.568437,0.198917,0.911325,1.717277,2.401591,4.025169
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,184.137500,0.000000,0.014286,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,1.000000,7.500000,0.000000,0.000000,18.000000,598.936905,0.003112,0.025156,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,4.000000,93.256250,0.000000,0.000000,38.000000,1464.157214,0.016813,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,27.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,361.763742,1.000000,8.000000,13.000000,9.000000,20.000000

In [5]:
df['VisitorType'].value_counts()

Returning_Visitor    10551
New_Visitor           1694
Other                   85
Name: VisitorType, dtype: int64

In [6]:
df['Month'].value_counts()

May     3364
Nov     2998
Mar     1907
Dec     1727
Oct      549
Sep      448
Aug      433
Jul      432
June     288
Feb      184
Name: Month, dtype: int64

In [7]:
df['Region'].value_counts()

1    4780
3    2403
4    1182
2    1136
6     805
7     761
9     511
8     434
5     318
Name: Region, dtype: int64

In [8]:
df['TrafficType'].value_counts()

2     3913
1     2451
3     2052
4     1069
13     738
10     450
6      444
8      343
5      260
11     247
20     198
9       42
7       40
15      38
19      17
14      13
18      10
16       3
12       1
17       1
Name: TrafficType, dtype: int64

In [9]:
returning = df[df['VisitorType'] == 'Returning_Visitor']
new = df[df['VisitorType'] == 'New_Visitor']
other = df[df['VisitorType'] == 'Other']
buyer = df[df['Revenue'] == True]
looking = df[df['Revenue'] == False]

In [10]:
returning.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,10551.000000,10551.000000,10551.000000,10551.000000,10551.000000,10551.000000,10551.000000,10551.000000,10551.000000,10551.000000,10551.000000,10551.000000,10551.000000,10551.000000
mean,2.283954,79.183639,0.533504,37.101992,34.082457,1289.421490,0.024778,0.046505,5.006176,0.068543,2.109658,2.315610,3.097242,4.026253
std,3.422359,178.820169,1.315958,147.895177,47.033833,2027.444118,0.050325,0.049916,15.422553,0.209071,0.818166,1.578379,2.349190,4.008069
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,8.000000,191.000000,0.000000,0.016071,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,1.000000,0.000000,0.000000,0.000000,19.000000,655.542857,0.005263,0.028331,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,4.000000,88.000000,0.000000,0.000000,41.000000,1605.729167,0.020000,0.052440,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,27.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,255.569158,1.000000,8.000000,13.000000,9.000000,20.000000

In [11]:
new.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000
mean,2.551948,91.911315,0.333530,19.237472,18.054900,636.393354,0.005261,0.020681,10.772187,0.020189,2.027745,2.287485,3.272137,3.857143
std,2.637694,161.543483,0.945208,86.513460,18.590846,766.336875,0.026312,0.028727,29.189781,0.116428,0.869411,1.549535,2.530563,3.131818
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,166.551568,0.000000,0.006897,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,2.000000,48.175000,0.000000,0.000000,13.000000,414.250000,0.000000,0.013333,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,4.000000,113.625000,0.000000,0.000000,23.000000,846.012500,0.000000,0.024691,0.000000,0.000000,2.000000,2.000000,5.000000,5.000000
max,16.000000,1946.000000,10.000000,1779.166667,287.000000,12983.787710,0.200000,0.200000,361.763742,1.000000,8.000000,13.000000,9.000000,20.000000

In [12]:
other.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,85.000000,85.000000,85.000000,85.000000,85.000000,85.000000,85.000000,85.000000,85.000000,85.0,85.000000,85.000000,85.000000,85.000000
mean,1.470588,62.695588,0.176471,11.685490,12.470588,570.404862,0.038551,0.063349,18.191812,0.0,5.823529,8.894118,6.882353,13.682353
std,2.509924,203.904742,0.693103,59.794791,26.111295,1264.152488,0.078438,0.071112,53.174567,0.0,2.920276,5.291556,3.099200,8.249404
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000667,0.000000,0.0,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,2.000000,29.500000,0.000000,0.011111,0.000000,0.0,2.000000,2.000000,4.000000,3.000000
50%,0.000000,0.000000,0.000000,0.000000,5.000000,136.500000,0.000000,0.033333,0.000000,0.0,8.000000,13.000000,9.000000,20.000000
75%,3.000000,54.500000,0.000000,0.000000,15.000000,537.625000,0.000000,0.100000,0.000000,0.0,8.000000,13.000000,9.000000,20.000000
max,14.000000,1652.000000,4.000000,410.500000,222.000000,9630.209524,0.200000,0.200000,360.953384,0.0,8.000000,13.000000,9.000000,20.000000

In [13]:
buyer.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000
mean,3.393606,119.483244,0.786164,57.611427,48.210168,1876.209615,0.005117,0.019555,27.264518,0.023166,2.092767,2.453354,3.082285,4.021488
std,3.730527,201.114732,1.521176,171.619131,58.267365,2312.214392,0.012185,0.016463,35.191954,0.123521,0.929779,1.897042,2.407173,3.987140
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,15.000000,541.906250,0.000000,0.009521,3.641144,0.000000,2.000000,2.000000,1.000000,2.000000
50%,2.000000,52.366667,0.000000,0.000000,29.000000,1109.906250,0.000000,0.016000,16.758134,0.000000,2.000000,2.000000,2.000000,2.000000
75%,5.000000,151.083333,1.000000,19.000000,57.000000,2266.011310,0.006452,0.025000,38.897742,0.000000,2.000000,2.000000,4.000000,4.000000
max,26.000000,2086.750000,12.000000,1767.666667,534.000000,27009.859430,0.200000,0.200000,361.763742,1.000000,8.000000,13.000000,9.000000,20.000000

In [14]:
looking.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,10422.000000,10422.000000,10422.000000,10422.000000,10422.000000,10422.000000,10422.000000,10422.000000,10422.000000,10422.000000,10422.000000,10422.000000,10422.000000,10422.000000
mean,2.117732,73.740111,0.451833,30.236237,28.714642,1069.987809,0.025317,0.047378,1.975998,0.068432,2.129726,2.339474,3.159278,4.078392
std,3.202481,171.017970,1.211582,133.909306,40.744717,1803.797757,0.051877,0.051231,9.072424,0.209054,0.907835,1.681790,2.400493,4.032220
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,6.000000,151.000000,0.000000,0.015560,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,0.000000,0.000000,0.000000,0.000000,16.000000,510.190000,0.004255,0.028571,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,3.000000,83.000000,0.000000,0.000000,35.000000,1331.816667,0.020000,0.053846,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,27.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,246.758590,1.000000,8.000000,13.000000,9.000000,20.000000

In [15]:
df_scaled = df.copy()

In [16]:
df_scaled['Administrative_Duration'] = (df_scaled['Administrative_Duration'] - df_scaled['Administrative_Duration'].min())/(df_scaled['Administrative_Duration'].max() - df_scaled['Administrative_Duration'].min())
df_scaled['Informational_Duration'] = (df_scaled['Informational_Duration'] - df_scaled['Informational_Duration'].min())/(df_scaled['Informational_Duration'].max() - df_scaled['Informational_Duration'].min())
df_scaled['ProductRelated_Duration'] = (df_scaled['ProductRelated_Duration'] - df_scaled['ProductRelated_Duration'].min())/(df_scaled['ProductRelated_Duration'].max() - df_scaled['ProductRelated_Duration'].min())

In [17]:
df_scaled.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000
mean,2.315166,0.023779,0.503569,0.013522,31.731468,0.018676,0.022191,0.043073,5.889258,0.061427,2.124006,2.357097,3.147364,4.069586
std,3.321784,0.052013,1.270156,0.055209,44.475503,0.029913,0.048488,0.048597,18.568437,0.198917,0.911325,1.717277,2.401591,4.025169
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,0.002878,0.000000,0.014286,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,1.000000,0.002207,0.000000,0.000000,18.000000,0.009362,0.003112,0.025156,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,4.000000,0.027438,0.000000,0.000000,38.000000,0.022887,0.016813,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,27.000000,1.000000,24.000000,1.000000,705.000000,1.000000,0.200000,0.200000,361.763742,1.000000,8.000000,13.000000,9.000000,20.000000

In [18]:
df_scaled['Administrative'] = (df_scaled['Administrative'] - df_scaled['Administrative'].min())/(df_scaled['Administrative'].max() - df_scaled['Administrative'].min())
df_scaled['Informational'] = (df_scaled['Informational'] - df_scaled['Informational'].min())/(df_scaled['Informational'].max() - df_scaled['Informational'].min())
df_scaled['ProductRelated'] = (df_scaled['ProductRelated'] - df_scaled['ProductRelated'].min())/(df_scaled['ProductRelated'].max() - df_scaled['ProductRelated'].min())
df_scaled['PageValues'] = (df_scaled['PageValues'] - df_scaled['PageValues'].min())/(df_scaled['PageValues'].max() - df_scaled['PageValues'].min())

In [19]:
df_scaled.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000
mean,0.085747,0.023779,0.020982,0.013522,0.045009,0.018676,0.022191,0.043073,0.016279,0.061427,2.124006,2.357097,3.147364,4.069586
std,0.123029,0.052013,0.052923,0.055209,0.063086,0.029913,0.048488,0.048597,0.051328,0.198917,0.911325,1.717277,2.401591,4.025169
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.009929,0.002878,0.000000,0.014286,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,0.037037,0.002207,0.000000,0.000000,0.025532,0.009362,0.003112,0.025156,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,0.148148,0.027438,0.000000,0.000000,0.053901,0.022887,0.016813,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.200000,0.200000,1.000000,1.000000,8.000000,13.000000,9.000000,20.000000

In [20]:
df_scaled.to_csv('df_scaled.csv', index=False)